<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Link cdn fontawesome -->
    <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!-- Link Getbootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Slick -->
    <link rel="stylesheet" href="./plugins/slick/slick.css">
    <link rel="stylesheet" href="./plugins/slick/slick-theme.css">

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Change number -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <!-- Main-Header -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-static">
                        <ul>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <li>
                                <a href="#" title="nst135@gmail.com">thucpham304@gmail.com</a>
                            </li>
                            <li>
                                <a href="#" title="Miễn phí ship cho đơn hàng trên 1tr VND">Miễn phí ship đơn hàng trên 1tr VND</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-login">
                        <ul>
                            <li>
                                <a href="#" title="đăng nhập"> Đăng nhập </a>
                            </li>
                            <li>
                                <a href="#" title="đăng kí"> Đăng kí </a>
                            </li>
                            <a href="cart.html">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="home.html">
                        <img src="image/logo.png" width="150">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="home.html">Trang chủ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="introduce.html">Giới thiệu</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Sản phẩm
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Sản phẩm nổi bật</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Sản phẩm khuyến mại</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Rau,củ nhập khẩu</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Hoa quả tươi</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Tin tức
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Tin mới hằng ngày</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Tin giá cả</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Mẹo vặt</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Liên hệ</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <hr>

    <!-- Breadcrumb background  -->
    <div class="bread-crumb-background">
        <div class="container-fluid">
            <div class="directional">
                <div class="container">
                    <h3> Giới thiệu </h3>
                    <div class="back-directional">
                        <a href="home.html">
                            <a href="home.html"> Trang chủ </a>
                        </a> &nbsp;
                        <i class="fa fa-angle-right" aria-hidden="true"></i> &nbsp;
                        <a href="contact.html"> Liên hệ </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Ảnh sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng cộng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td> Nho mỹ </td>
                                <td>
                                    <img src="image/product1.png" width="50">
                                </td>
                                <td>150.000đ</td>
                                <td>
                                    <input style="width: 50px;" type="number" name="" id="" value="1">
                                </td>
                                <td>150.000đ</td>
                            </tr>
                        </tbody>
                    </table>
                    <td>
                        <a href="home.html" class="btn btn-warning">
                            <i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                </div>
                <div class="col-md-4">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th> Tổng giỏ hàng </th>
                            </tr>
                        </thead>
                    </table>
                    <table>
                        <tbody>
                            <tr class="cart-subtotal" style="margin-bottom: 10px; display: inline-block;">
                                <th style="width: 300px;"> Tổng phụ </th>
                                <td data-title="Tổng phụ">
                                    <span> 150.000đ </span>
                                </td>
                            </tr>

                            <tr class="order-total" style="margin-bottom: 10px; display: inline-block;">
                                <th style="width: 300px;"> Tổng cộng </th>
                                <td data-title="Tổng cộng">
                                    <span> 150.000đ </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="thanhtoan" style="margin-bottom: 10px; max-width: 100%; font-family: 'Times New Roman', Times, serif; background: #d26e4b; text-align: center;padding: 10px; text-transform: uppercase; color: #fff;">
                        <a href="#">Thanh toán</a>
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th> Phiếu ưu đãi </th>
                            </tr>
                        </thead>
                    </table>
                    <input style="width: 100%;height: 2.507em; margin-bottom: 10px; border: 1px solid #ddd;box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);padding: 0 5px;"
                        type="text" placeholder="Mã ưu đãi">
                    <div class="thanhtoan" style="margin-bottom: 10px; max-width: 100%; font-family: 'Times New Roman', Times, serif; background: #80B435; text-align: center;padding: 10px; text-transform: uppercase; color: #fff;">
                        <a href="#">Áp dụng ưu đãi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Brands -->
    <div class="main-brands">
        <div class="container">
            <div class="title-brands">
                <h2 title="top thương hiệu"> Top thương hiệu </h2>
            </div>
            <div class="row task-brands">
                <div class="col-md-2">
                    <div class="box-brands">
                        <img src="image/brand_1.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box-brands">
                        <img src="image/brand_2.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box-brands">
                        <img src="image/brand_3.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box-brands">
                        <img src="image/brand_4.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box-brands">
                        <img src="image/brand_5.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box-brands">
                        <img src="image/brand_5.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box-brands">
                        <img src="image/brand_5.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main footer -->
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-footer-1">
                        <h2> Về chúng tôi </h2>
                        <div class="box-border"></div>
                        <div class="box-footer-style">
                            <img src="image/logo1.png" width="200">
                            <p> Với cửa hàng phục vụ khách hàng một cách chân thành nhất và luôn mang lại cho khách hàng sự tin
                                cậy nhờ luôn thực hiện đúng các cam kết về chất lượng hàng hóa luôn tươi ngon, có nguồn gốc
                                rõ ràng.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-footer-2">
                        <h2> Giới thiệu </h2>
                        <div class="box-border"></div>
                        <ul class="box-footer-intro">
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                <a href="#">Trang chủ
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Giới thiệu
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Sản phẩm
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Tin tức
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-footer-3">
                        <h2> Dịch vụ </h2>
                        <div class="box-border"></div>
                        <ul class="box-footer-intro">
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Trang chủ
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Giới thiệu
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Sản phẩm
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Tin tức
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                                <a href="#">Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-footer-4">
                        <h2> Thông tin liên hệ </h2>
                        <div class="box-border"></div>
                        <ul class="box-footer-intro">
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                                <a href="#"> 0968 373 262 </a>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
                                <a href="#">thucpham304@gmail.com</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                                <a href="#">257 Trần Cung - Hà Nội </a>
                            </li>
                            <li>
                                <a class="style-btn" href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a class="style-btn" href="#">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                </a>
                                <a class="style-btn" href="#">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </a>
                                <a class="style-btn" href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a class="style-btn" href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <img src="image/footer2.png" width="150">
                    </div>
                </div>
            </div>
        </div>
        <div class="end-bottom">
            <div class="container">
                © Bản quyền thuộc về
                <p> NST Fruits</p> | Cung cấp bởi NST Fruits
            </div>
        </div>
    </div>
</body>

<!-- Script Slick -->
<script src="./plugins/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.task-products').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autospeed: 100,
            responsive: [
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
            ]
        });
        $('.task-brands').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autospeed: 10,
            responsive: [
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
            ]
        });
    });
</script>

</html>